.page {
    background-color: var(--grey-1);
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header" "main";
}


.page__header {
  grid-area: header;
}

.page__main {
  grid-area: main;
}
