.table {
  width: 100%;
  border-spacing: 5px;
  
}

.table__header {
  font-weight: bold;
  background-color: var(--grey-3);
}

.table__cell {
  border: 1px solid var(--grey-4);
  padding: 8px 16px;
}